{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "comma-dangle": [1, "never"],
    "no-use-before-define": [0, { "functions": true, "classes": true }]
  }
}
