.container {
  justify-content: center;
  align-items: center;
  width: 650px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 600px;
  border: 1px solid #ccc;
}

.ul {
  width: 600px;
  position: absolute;
  padding-left: 0;
  background-color: white;
  /*margin-top: 300px;*/
  top: 220px;
}

@-moz-document url-prefix() {
  .ul {
    /*margin-top: auto;*/
    top: 220px;
  }
}


